<nav class="nav-1">
  <img class="nav-logo" src="{{orgData.org_logo_url}}">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/objectives" routerLinkActive="active">OKR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/users"  routerLinkActive="active">DASHBOARD</a>
      </li>
        <ul class="nav side">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page"><img src="https://img.icons8.com/external-others-iconmarket/25/000000/external-bell-winter-others-iconmarket-2.png"/></a>
        </li> -->
        <li class="nav-item">
          <div class="nav-link active" aria-current="page">
              <div class="dropdown">
                {{ sessionData.first_name }}
                {{ sessionData.last_name }}
              <button class="btn btn-default dropdown-toggle" (click)="dpsh()" style="color: #0D8EBB; padding-top: 0px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img style="width: 20px; height: 20px;" src="{{ sessionData.profile_img_url }}"/>
              </button>
              <ul class="dropdown-menu" style="display: block;" *ngIf="dpshow" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </ul>
  </nav>
  
  <!-- Second Nav -->
  
  <nav *ngIf="employee">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link"routerLink="/objectives" routerLinkActive="active">MY OBJECTIVE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/my-team" *ngIf="teamMembers.length!>0" routerLinkActive="active">MY TEAM</a>
    </li>
  </ul>
  </nav>
  

  <nav *ngIf="admin">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/admin/users" routerLinkActive="active">USERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/settings" routerLinkActive="active">SETTINGS</a>
      </li>
    </ul>
    </nav>
    