<nav class="nav-1">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">OKR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PERFORMANCE REVIEW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">CONTINIOUS FEEDBACK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">DASHBOARD</a>
      </li>
        <ul class="nav side">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><img src="https://img.icons8.com/external-others-iconmarket/25/000000/external-bell-winter-others-iconmarket-2.png"/></a>
        </li>
        <li class="nav-item">
          <div class="nav-link active" aria-current="page">
              <div class="dropdown">
                {{ userData.first_name }}
                {{ userData.last_name }}
              <button class="btn btn-default dropdown-toggle" style="color: #0D8EBB; padding-top: 0px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://img.icons8.com/ios-filled/25/000000/circled.png"/>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </ul>
  </nav>
  
  <!-- Second Nav -->
  
  <nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#">QUICK CHECK-IN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="#">MY OBJECTIVE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">MY IDP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">MY TEAM</a>
    </li>
  </ul>
  
  </nav>
  