.nav-1{
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.nav-logo{
    height: 30px;
    /* width: 50px;\ */
    position: absolute;
}
.nav-link{
    color: grey;
    box-shadow: none;
}
.nav-links:hover{
    text-decoration: none;
    color: grey;
}
.side{
    position: absolute;
    right: 20px;
}
.active{
    color: #0D8EBB;
}