		body,html{
			height: 100%;
		}
		.login-body{
			/* height: 700px; */
			/* width: 1440px; */
			height: 100vh;
			width: 100%;
			position: absolute;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.login-box{
			/*border: 1px solid black;*/
			margin-left: 30%;
			margin-top: 10%;
			width: 500px;
			padding: 100px;
		}		
		.login-logo{
			text-align: center;
			align-items: center;
			margin-left: 50px;
			height: 100px;
		}
		.in{
			width: 300px;
			margin-top: 10px;
			margin-bottom: 10px;
			border:none;
			border-bottom: 1px solid darkgray;
			outline: none;
		}
		.lg-btn{
			margin-left: 40%;
			margin-bottom: 5px;
		}
		.quest{
			margin-left: 25%;
			margin-top: 10px;
		}
		.quest a{
			cursor: pointer;
			font-size: 1.2em;
			color: blue;
		}

		input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
			border-bottom: 1px solid red;
		}
		span{
			color: red;
			font-size: 10px;;
		}

		.help-cred{
			margin-left: 70px;
			font-size: 15px;
		}