	<div class="login-body" style="background-image: url('{{ orgData.org_corporate_banner_url }}');">
		<div class="login-box shadow-lg">
			<img class="login-logo" src="{{orgData.org_logo_url}}">
			<form (ngSubmit)="login()" #f="ngForm">
				<input type="email" name="email" class="in" placeholder="Enter Your Email..." ngModel #email="ngModel" email required>
				<span class="help-block" *ngIf="!email.valid && email.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid email!!!</span>
				<input type="password" name="password" class="in" placeholder="Enter Your Password..." ngModel #password="ngModel" password required>
				<span class="help-block" *ngIf="!password.valid && password.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid password!!!</span>
				<button type="submit" class="lg-btn btn btn-success" [disabled]="!f.valid">Login</button>
				<span class="help-cred" *ngIf="!correctPassword"><i class="fas fa-exclamation-circle"></i><strong>Invalid Credentials!!!</strong></span>
				<p class="quest"><strong>New User?<a (click)="register()">Register</a></strong></p>
			</form>
		</div>
	</div>