<input type="file"   (input)="onChangeImage($event)" />
<button  type="submit" class="uploadBtn" (click)="toCheckAndProceed()" >Upload</button> 
<p class="errorMsg" *ngIf="errorMsg">please select any file to submit</p>
<p class="errorMsg" *ngIf="invalidType">Invalid format !! please select only excel file</p>



      <div class="modal fade show" *ngIf="show" id="exampleModalToggle" aria-hidden="false" style="display: block !important;" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
               <p class="alertMsg"> Do you want to upload file ? </p>
              </div>
              <div class="modal-footer" style="border: none;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="objectiveHide()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="onSubmit()">Upload</button>
              </div>
            </div>
          </div>
      </div>
