<!-- Confirmation popup -->
<div class="modal fade show" *ngIf="show" id="exampleModalToggle" aria-hidden="false" style="display: block !important;" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" style=" width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="todo=='DELETE'" class="modal-title" style="font-size: 20px;"><strong>Do you want to delete this user?</strong> </h5>
                <h5 *ngIf="todo=='MAKE_ADMIN'" class="modal-title" style="font-size: 20px;"><strong>Do you want to make this user admin?</strong> </h5>
                <h5 *ngIf="todo=='REMOVE_ADMIN'" class="modal-title" style="font-size: 20px;"><strong>Do you want to remove this user as admin?</strong> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="confirmationPopupHide()" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="[adminUserOperation(this.userDetails.user_id,admin_user_id ,todo)]" show="false" *ngIf="!isLoad" style="background-color: #0D8EBB; margin:5px; text-align: center;" data-bs-toggle="modal">Yes</button>
                <button class="btn btn-primary" type="submit" *ngIf="isLoad" data-bs-target="#exampleModalToggle2" style="background-color: #0D8EBB; width: 130px;" data-bs-toggle="modal">
                <mat-spinner [diameter]="23" style="margin-left: 40px;"></mat-spinner></button>
                <button class="btn btn-secondary" (click)="confirmationPopupHide()" style="margin:5px;" data-bs-toggle="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="list-card row shadow-lg" style="margin-bottom: 10px;">
    <div class="col-sm-1 progress-percent">
        <img class="member-pic" src="{{userDetails.profile_img_url}}">
    </div>
    <div class="col-sm-10 task-details">
        <strong>{{userDetails.full_name}}</strong>
        <ul class="nav">
            <li class="nav-item">
                <div class="nav-link active" aria-current="page">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" (click)="showGoal()" style="color: #0D8EBB; padding-top: 0px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              View Goals
            </button>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="nav-link">Last Checkin Date: {{userDetails.last_login_time | date: "dd-MMM-yy" }}</div>
            </li>
        </ul>
    </div>
    <div class="col-sm-1 options">

        <!-- <button class="btn btn-primary" (click)="editUser()">Edit</button>
        <button class="btn btn-danger" (click)="confirmationPopupShow('DELETE')">DELETE</button> -->

        <div class="dropdown">
            <button class="btn btn-default dropdown" (click)="showDp()" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://img.icons8.com/ios-filled/20/000000/menu-2.png" />
          </button>
            <ul class="dropdown-menu" *ngIf="dp" style="display: block" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a (click)="editUser()" class="dropdown-item">Edit</a>
                </li>
                <li>
                    <a (click)="confirmationPopupShow('DELETE')" class="dropdown-item">Delete</a>
                </li>
                <li *ngIf="userDetails.role_id==1">
                    <a (click)="confirmationPopupShow('MAKE_ADMIN')" class="dropdown-item">Make Admin</a>
                </li>
                <li *ngIf="userDetails.role_id==2">
                    <a (click)="confirmationPopupShow('REMOVE_ADMIN')" class="dropdown-item">Remove Admin</a>
                </li>

            </ul>
        </div>
    </div>
    <div *ngIf="goalShow" style="margin-bottom: 10px; display: block;">
        <strong>GOALS:</strong>
        <div class="list" *ngFor="let goal of goalData">
            <app-goal-list [goalDetails]="goal"></app-goal-list>
        </div>
    </div>

</div>
<div class="modal fade show" *ngIf="showform" id="exampleModalToggle" aria-hidden="false" style="display: block !important;" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            
    <app-update-user [userDetails]="userDetails"></app-update-user>
        </div>
    </div>
</div>