.nav-1{
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.modal{
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-link{
    color: grey;
    box-shadow: none;
}
.nav-links:hover{
    text-decoration: none;
    color: grey;
}
.btn-check:focus+.btn, .btn:focus {
outline: 0;
box-shadow: none;
}
.active{
    color: #0D8EBB;
}
.side{
    position: absolute;
    right: 20px;
}
.active-list{
    padding:20px;
}
.list{
    margin-top: 20px;
}
.list-card{
    height: 100px;
    background-color: white;
    border-radius: 10px;
    border-left:5px solid green;
    padding:10px;
}
.progress-percent{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-details{
    padding: 10px;
}
.options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.status{
    background-color: #F9ECB4;
    color: #D2AB0A;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

/*       Popup        */
.modal-dialog {
    max-width: 1300px;
    margin: 1.75rem auto;
}
label{
    color: grey;
    font-size: 10px;
}
.in-date{
    display: flex;
    align-items: center;
}
.in-1{
    width: 1200px;
    margin-right: 50px;
}
.in-2{
    width: 500px;
    margin-right: 50px;
    height: 28px;
    font-size: 12px;
}
.in-d{
    width: 300px;
    margin-right: 50px;
}
input{
    border:1px solid lightgrey;
}
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
    border-bottom: 1px solid green;
}
span{
    color: red;
    font-size: 10px;;
}