<div class="list-card row" (click)="getGoalDetails()">
    <div class="col-sm-1 progress-percent">
      100%
    </div>
    <div class="col-sm-8 task-details">
      <strong>{{goalDetails.goal_name}}</strong>
      <ul class="nav">
        <li class="nav-item">
          <div class="nav-link active" aria-current="page">
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" style="color: #0D8EBB; padding-top: 0px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Key Results
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        </li>
        <li class="nav-item">
          <div class="nav-link">Date: {{goalDetails.creation_date}}</div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{goalDetails.goal_type}}</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-2 options">
      <ul class="nav">
        <li class="nav-item">
          <p class="status shadow">Waiting for approval</p>
        </li>
        <li class="nav-item">
          <div class="dropdown">
        <button class="btn btn-default dropdown" (click)="showDp()" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://img.icons8.com/ios-filled/20/000000/menu-2.png"/>
        </button>
        <ul class="dropdown-menu" *ngIf="dp" style="display: block;" aria-labelledby="dropdownMenuButton1">
          <li (click)="openUpdateDp()"><a class="dropdown-item">Update Goal</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
        </li>
      </ul>
    </div>
  </div>