<div class="list-card row shadow-lg" style="margin-bottom: 10px;">
    <div class="col-sm-1 progress-percent">
      <img class="member-pic" src="{{teamMemberDetails.profile_img_url}}">
    </div>
    <div class="col-sm-8 task-details">
      <strong>{{teamMemberDetails.full_name}}</strong>
      <ul class="nav">
        <li class="nav-item">
          <div class="nav-link active" aria-current="page">
            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" (click)="showGoal()" style="color: #0D8EBB; padding-top: 0px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              View Goals
            </button>
          </div>
        </div>
        </li>
        <li class="nav-item">
          <div class="nav-link">Last Checkin Date: {{teamMemberDetails.last_login_time | date: "dd-MMM-yy" }}</div>
        </li>
      </ul>
    </div>
    <div class="col-sm-2 options">
    </div>
    <div *ngIf="goalShow" style="margin-bottom: 10px; display: block;">
      <div *ngIf="goalData.length!==0">
        <strong>GOALS:</strong>
        <div class="list" *ngFor="let goal of goalData">
          <app-goal-list [goalDetails]="goal"></app-goal-list>
          </div>
        </div>
        <div *ngIf="goalData.length==0">
          <p style="text-align: center;"><strong>No Goals Yet!!!</strong></p>
        </div>
    </div>
  </div>