
<div class="container">
    <div class="Register-box shadow-lg">
        <h2 class="reg-logo" *ngIf="actionType!=='admin_add'">Register</h2>
        <h2 class="reg-logo" *ngIf="actionType=='admin_add'">Add User</h2>
        <form (ngSubmit)="submit()" #f="ngForm">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" name="first_name" class="r-in form-control" placeholder="Enter First Name" ngModel #first_name="ngModel" firs_tname required>
				        <span class="help-block" *ngIf="!first_name.valid && first_name.touched"><i class="fas fa-exclamation-circle"></i>Please Enter Firstname!</span>
                    </div>

                    <div class="form-group">
                        <input type="text" name="last_name" class="r-in form-control" placeholder="Enter Last Name" ngModel #last_name="ngModel" last_name required>
				        <span class="help-block" *ngIf="!last_name.valid && last_name.touched"><i class="fas fa-exclamation-circle"></i>Please Enter Lastname!</span>
                    </div>

                    <div class="form-group">
                        <input type="text" name="username" class="r-in form-control" placeholder="Enter User Name" ngModel #username="ngModel" username required>
				        <span class="help-block" *ngIf="!username.valid && username.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid Username!</span>
                        <span class="help-block" *ngIf="userExist"><i class="fas fa-exclamation-circle"></i>User already exists!</span>
                    </div>
                    
                    <!-- <div class="form-group">
                        <input type="text" name="mobile" class="r-in form-control" placeholder="Enter Mobile Number" ngModel #mobile="ngModel" mobile required>
				        <span class="help-block" *ngIf="!mobile.valid && mobile.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid mobile!</span>
                    </div> -->
                    
                    <div class="form-group">
                        <input type="email" name="email" class="r-in form-control" placeholder="Enter Email" ngModel #email="ngModel" email required>
				        <span class="help-block" *ngIf="!email.valid && email.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid email!</span>
                        <span class="help-block" *ngIf="userExist"><i class="fas fa-exclamation-circle"></i>User already exists!</span>
                    </div>

                    <div class="form-group">
                        <input type="text" name="city" class="r-in form-control" placeholder="Enter City Name" ngModel #city="ngModel" city required>
				        <span class="help-block" *ngIf="!city.valid && city.touched"><i class="fas fa-exclamation-circle"></i>Enter City name!</span>
                    </div>
                    
                    <div class="form-group">
                        <input type="password" name="password" class="r-in form-control" placeholder="Enter Password" ngModel #password="ngModel" password required>
                        <span class="help-block" *ngIf="!password.valid && password.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid password!</span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <select name="department" ngModel class="r-in form-control" #department="ngModel" department required>
                            <option value="">Select Department</option>
                            <option value="Human Resource">Human Resource</option>
                            <option value="Technology">Technology</option>
                            <option value="Informantion Technology">Informantion Technology</option>
                            <option value="Finance">Finance</option>
                        </select>
                        <span class="help-block" *ngIf="!department.valid && department.touched"><i class="fas fa-exclamation-circle"></i>Enter a valid value!</span>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" name="emp_code" class="r-in form-control" placeholder="Enter Emp Code" ngModel #emp_code="ngModel" emp_code required>
				        <span class="help-block" *ngIf="!emp_code.valid && emp_code.touched"><i class="fas fa-exclamation-circle"></i>Enter Valid Emp Code!</span>
                        <span class="help-block" *ngIf="userExist"><i class="fas fa-exclamation-circle"></i>User already exists!</span>
                    </div>

                    <!-- <div class="form-group">
                        <input type="text" name="org_id" class="r-in form-control" placeholder="Enter Org Id" ngModel #org_id="ngModel" org_id required>
				        <span class="help-block" *ngIf="!org_id.valid && org_id.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid Org Id!</span>
                    </div> -->

                    <div class="form-group">
                        <input type="text" name="line_manager_id" class="r-in form-control" [ngbTypeahead]="search" [(ngModel)]="model" placeholder="Enter Line Manager" ngModel #line_manager_id="ngModel" line_manager_id required
                        [resultFormatter]="inFormatter"
                        [inputFormatter]="outFormatter"/>
				        <span class="help-block" *ngIf="!line_manager_id.valid && line_manager_id.touched"><i class="fas fa-exclamation-circle"></i>Enter Line Manager!</span>
                    </div>
                    
                    <!-- <div class="form-group radio">
                        <label>Gender:  
                            <input type="radio" ngModel name="gender" value="Male" gender required>Male

                            <input type="radio" ngModel name="gender" value="Female" gender required>Female
                        </label>
                    </div> -->

                    <div class="form-group">
                        <div class="r-in ng-autocomplete">
                            <ng-autocomplete #countryList ngModel name="country" [data]="countries" min-length="1" #country="ngModel" country required
                            [searchKeyword]="countrykeyword" [initialValue]="countrykeyword"
                              (selected)='selectEventCountry();onLocationSubmit();' (inputCleared)='onCountryCleared()'
                              [itemTemplate]="countryListTemplate" [notFoundTemplate]="notFoundTemplate" placeholder="Enter Country"
                              [customFilter]="customFilter">
                            </ng-autocomplete>
                          
                            <ng-template #countryListTemplate let-item>
                              <a [innerHTML]="item.name"></a>
                            </ng-template>
                          
                            <ng-template #notFoundTemplate let-notFound>
                              <div [innerHTML]="notFound"></div>
                            </ng-template>
                          </div>
                        <span class="help-block" *ngIf="!country.valid && country.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid Country name!</span>
                        </div>
                    

                        <div class="form-group">
                            <input type="password" name="conf_password" ngModel placeholder="Confirm your Password" class="r-in form-control" #conf_password="ngModel" conf_password required> 
                            <span class="help-block" *ngIf="!conf_password.valid && conf_password.touched && conf_password===password"><i class="fas fa-exclamation-circle"></i>The password does not match!!!</span>
                            <span class="help-block" *ngIf="!pwd_matched"><i class="fas fa-exclamation-circle"></i>The password does not match!!!</span>
                        </div>
                </div>
            </div>
            <!-- <span class="help-block" *ngIf="!pwd_matched"><i class="fas fa-exclamation-circle"></i>The password does not match!!!</span> -->
            

            <button class="btn btn-success bt-reg" *ngIf="actionType!=='admin_add'" type="submit" [disabled]="!f.valid">Register</button>
            <button class="btn btn-success bt-reg" *ngIf="actionType=='admin_add'" type="submit" [disabled]="!f.valid">Add User</button>
            <button class="btn btn-danger bt-reg" *ngIf="actionType=='admin_add'" routerLink="/admin/users" type="button">Cancel</button>
            <p class="quest" style="text-align: center;" *ngIf="actionType!=='admin_add'">Already have an account?<strong><a routerLink="/"> Login</a></strong></p>
        </form>
    </div>
</div>