<form (ngSubmit)="addObjective()" #ObjForm="ngForm">
    <div class="modal-body">
      <div class="form-group">
        <label>Objective:</label><br>
        <input type="text" class="in-1" ngModel name="goal_name" #goal_name="ngModel" goal_name required>
        <span class="help-block" *ngIf="!goal_name.valid && goal_name.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span>
      </div>
      <div class="in-date">
        <!-- <div class="form-group">
          <label>Which period is the objectiveRunning in?*</label><br>
          <select class="form-select in-2" ngModel aria-label="Default select example" name="goal_quater" #goal_quater="ngModel" goal_quater required>
        <option value="1">Q1</option>
        <option value="2">Q2</option>
        <option value="3">Q3</option>
        <option value="4">Q4</option>
      </select>
      <span class="help-block" *ngIf="!goal_quater.valid && goal_quater.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span>
        </div> -->
        <div class="form-group">
        <label>Start Date*</label><br>
        <input type="date" name="goal_start_date" ngModel class="in-d" #goal_start_date="ngModel" goal_start_date required>
        <span class="help-block" *ngIf="!goal_start_date.valid && goal_start_date.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span>
        </div>
        <div class="form-group">
        <label>End Date*</label><br>
        <input type="date" name="goal_due_date" ngModel class="in-d" #goal_due_date="ngModel" goal_due_date required>
        <span class="help-block" *ngIf="!goal_due_date.valid && goal_due_date.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span>
        </div>
      </div>
    <div class="in-date">
      <div class="form-group">
        <label for="typeahead-basic">Owner:</label>
        <input id="typeahead-basic" type="text" class="form-control in-2" ngModel #goal_owner_name="ngModel" goal_owner_name required [(ngModel)]="model" name="goal_owner_name" [ngbTypeahead]="search"
        [resultFormatter]="outFormatter"
        [inputFormatter]="outFormatter"/>
        <span class="help-block" *ngIf="!goal_owner_name.valid && goal_owner_name.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span>
      </div>
      <!-- <pre>Model: {{ model | json }}</pre> -->
      <div class="form-group">
      <label>To which Company Objective This Objective Align With:</label><br>
        <input id="typeahead-basic" type="text" class="form-control in-2" ngModel #linked_org_goal_id="ngModel" linked_org_goal_id required [(ngModel)]="modelOrgGoal" name="linked_org_goal_id" [ngbTypeahead]="searchOrgGoal"
        [resultFormatter]="inFormatter"
        [inputFormatter]="inFormatter"/>
  <span class="help-block" *ngIf="!linked_org_goal_id.valid && linked_org_goal_id.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span>
      </div>
    </div>
    <div class="in-date">
      <div class="form-group">
      <label>Which Type of OKR you are Creating?:</label><br>
      <select class="form-select in-2" ngModel aria-label="Default select example" name="goal_type" #goal_type="ngModel" goal_type required>
        <option value="INDIVIDUAL">INDIVIDUAL</option>
        <option value="PUBLIC">PUBLIC</option>
        <option value="ORGANIZATIONAL">ORGANIZATIONAL</option>
  </select>
  <span class="help-block" *ngIf="!goal_type.valid && goal_type.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span>
      </div>
    </div>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-default" data-bs-dismiss="modal" (click)="objectiveHide()"  aria-label="Close"> Cancel </button><br> -->
      <button class="btn btn-primary" type="submit" 
      data-bs-target="#exampleModalToggle2" style="background-color: #0D8EBB;"  data-bs-toggle="modal">Add Key 5 Result</button>
      <!-- <button class="btn btn-primary" type="submit" 
      data-bs-target="#exampleModalToggle2" style="background-color: #0D8EBB;" [disabled]="!ObjForm.valid" data-bs-toggle="modal">Add Key 5 Result</button> -->
    </div>
  </form> 