<app-nav></app-nav>
<section>
    <div class="list">

        <div class="list-card row">
            <div class="col-sm-1 progress-percent">
                <circle-progress [percent]="goal_data[0].goal_progress" [radius]="30" [outerStrokeWidth]="6" [innerStrokeWidth]="4" [outerStrokeColor]="'#3d54ae'" [innerStrokeColor]="'#7db4e8'" [animation]="true" [animationDuration]="300"></circle-progress>
            </div>
            <div class="col-sm-8 task-details">
                <strong>{{ goal_data[0].goal_name }}</strong>
                <ul class="nav">

                    <li class="nav-item">
                        <div class="nav-link">Date: {{ goal_data[0].creation_date |date:'dd-MMM-YY'}}</div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)"> Company Objective: {{ goal_data[0].linked_org_goal_name }}</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-2 options">
                <div *ngIf="goal_data[0].line_manager_id==user_id">
                    <p class="status-waiting" *ngIf="goalStatus=='WAITING_FOR_APPROVAL'">Waiting for approval</p>
                    <p class="status-closed" *ngIf="goalStatus=='WAITING_FOR_CLOSURE' "><strong>Waiting for Closure</strong></p>

                    <div class="flex" *ngIf="goalStatus=='WAITING_FOR_APPROVAL' || goalStatus=='WAITING_FOR_CLOSURE' ">
                        <button class="btn btn-success shadow ml-20" (click)="onManagerDecision('APPROVE', goalStatus)" type="button">Approve</button>
                        <button class="btn btn-danger shadow ml-20" (click)="onManagerDecision('REJECT' ,goalStatus)" type="button">Reject</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="list-card row">

            <div class="col-sm-12 task-details">
                <ul class="nav">
                    <li class="nav-item details">
                        <strong>Owner:</strong>{{ goal_data[0].goal_owner_name }}
                    </li>
                    <li class="nav-item details">
                        <strong>Start Date: </strong> {{ goal_data[0].goal_start_date | date:'dd-MMM-YY'}}
                    </li>
                    <li class="nav-item details">
                        <strong>Due Date: </strong> {{ goal_data[0].goal_due_date | date:'dd-MMM-YY'}}
                    </li>
                    <li class="nav-item details" style="margin-left: 400px;">
                        <div *ngIf="goalStatus!=='REJECTED' || goalStatus!=='WAITING_FOR_CLOSURE'||goalStatus!=='CLOSED'">
                            <app-milestone-reuse [goalId]="goal_data[0].goal_id" [refFrom]="'detailsPage'"></app-milestone-reuse>
        
                        </div>
                    </li>

                </ul>
                <div>
                    <p class="btn btn-danger side ml-20" *ngIf="goalStatus=='REJECTED'">Goal Rejected</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="active-list">
    <div>
        <strong>Key Results</strong>
    </div>
    <div *ngIf="milestone_data.length!==0">
        <div class="list" *ngFor="let milestone of milestone_data">
            <app-milestone-list [isLoad]="isLoad" [resetCheckin]="resetCheckin" [deleteMilestone]="deleteMilestone" [milestoneDetails]="milestone" [goal_data]="goal_data"></app-milestone-list>
        </div>
    </div>
    <div *ngIf="milestone_data.length==0">
        <p style="text-align: center;"><strong>No Key Result Yet!!!</strong></p>
    </div>

</section>