<form [formGroup]="myForm" (ngSubmit)="onUpdateMilestone(myForm)">
  <div class="modal-body">
    <div class="form-group">
      <label>Milestone name:</label><br>
      <input type="text" class="in-1" formControlName="milestone_name" required="true">  
    </div>
    <div class="in-date">
      <div class="form-group">
        <label>Which Type of OKR you are Creating?:</label><br>
        <select class="form-select in-2" formControlName="milestone_type" aria-label="Default select example"  #mySelect   (change)='changeChoice(mySelect.value)' required="true">
          <option selected value="boolean">boolean</option>
          <option value="progress">progress</option>
          <option value="metric">metric</option>
        </select>
      </div>

      <div class="form-group" *ngIf="choice=='metric'">
        <label>Metric start value*</label><br>
        <input type="number" min="0" max="metric_target_value" class="in-d" formControlName="metric_start_value" #startValue (change)='setTarget(startValue.value)'  required="true" > 
        <div  class="form-text showError" *ngIf="startvaleempty" >Start value must not be empty.</div>
      </div>
      &nbsp;&nbsp;
      <div class="form-group ml-3" *ngIf="choice=='metric'">
        <label>Metric target value</label><br>
        <input type="number" min="metric_start_value" class="in-d" formControlName="metric_target_value"   #targetValue (change)='showTargetError(targetValue.value)'  required="true" >
        <div  class="form-text showError" *ngIf="showTargetFiledError">target value must be greater then start value.</div>
      </div>
      &nbsp;&nbsp;
    </div>
    
    <div class="in-date">
      <div class="form-group">
        <label>Owner:</label> &nbsp;
        <span style="cursor: pointer;" (click)="editTypeahead()">{{isEditable==true?"Edit":"Cancel"}}</span>
        <div class="in-2" style="border: 1px solid lightgrey;" *ngIf="isEditable">{{milestoneData.milestone_owner_name}}</div>
        <input type="text" class="in-2" [(ngModel)]="model" [ngbTypeahead]="search" *ngIf="!isEditable"
        formControlName="ownerObj"
        value="{{milestoneData.milestone_owner_name}}"
        [resultFormatter]="outFormatter"
        [inputFormatter]="outFormatter"/>
      </div>
      <div class="form-group"> 
        <label>Start Date* {{start_date}}</label><br> 
        <input type="date"  class="in-d" formControlName="milestone_start_date" min="{{start_date}}" max="{{end_date}}" #dateStartSelect   (change)='chooseStartDate(dateStartSelect.value)'  required="true">
      </div>
      <div class="form-group">
        <label>End Date*  {{end_date}}</label><br>
        <input type="date"   class="in-d"   formControlName="milestone_due_date" min="{{min_due_date}}" max="{{end_date}}" required="true">
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" type="submit" 
      [disabled]="updateForm.invalid || startvaleempty"
      data-bs-target="#exampleModalToggle2" style="background-color: #0D8EBB;" data-bs-toggle="modal">Update Key Result</button>
    </div>
  </div>
</form>