
<div class="container">
    <div class="Register-box shadow-lg">
        <h2 class="reg-logo">Update User</h2>
        <form [formGroup]="myForm" (ngSubmit)="updateUser(myForm)">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" formControlName="first_name" class="r-in form-control" placeholder="Enter First Name" firs_tname required>
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="last_name" class="r-in form-control" placeholder="Enter Last Name" last_name required>
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="username" class="r-in form-control" placeholder="Enter User Name" username required>
                    </div>
                    
                    <div class="form-group">
                        <input type="email" formControlName="email" class="r-in form-control" placeholder="Enter Email" email required>
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <select formControlName="department" class="r-in form-control" department required>
                            <option value="">Select Department</option>
                            <option value="Human Resource">Human Resource</option>
                            <option value="Technology">Technology</option>
                            <option value="Informantion Technology">Informantion Technology</option>
                            <option value="Finance">Finance</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" formControlName="emp_code" class="r-in form-control" placeholder="Enter Emp Code" emp_code required>
                    </div>


                    <div class="form-group">
                        <!-- <input type="text" formControlName="line_manager_data" class="r-in form-control" [ngbTypeahead]="search" [(ngModel)]="model" placeholder="{{userDetails.line_manager_name}}" line_manager_id required
                        [resultFormatter]="inFormatter"
                        [inputFormatter]="outFormatter"
                        value="{{userDetails.line_manager_id}}"/> -->
                        <select class="form-select r-in" formControlName="line_manager_id">
                            <option value="">select Line Manager</option>
                            <option *ngFor="let item of allUsers" value="{{item.user_id}}">{{item.full_name}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="city" class="r-in form-control" placeholder="Enter City Name" city required>
                    </div>
                </div>
            </div>

            <button *ngIf="!isload" class="btn btn-success bt-reg" type="submit">Update</button>
            <button *ngIf="isload" class="btn btn-success bt-reg" type="button" style="width: 100px;">
                <mat-spinner [diameter]="23" style="margin-left: 30px;"></mat-spinner></button>
        </form>
    </div>
</div>