<form [formGroup]="checkinForm" (ngSubmit)="checkiGoal()">
    <div>
        <p style="margin-left: 20px;"><strong> Milestone Type: </strong>{{milestoneDetails.milestone_type}}</p>
    </div>
    <div class="modal-body">
        <div *ngIf="milestoneDetails.milestone_type=='metric'">
        <div class="in-date">
            <div class="form-group">
              <label>Start Value:</label><br>
              <!-- <input type="text" class="in-2 form-control" formControlName="metric_start_value" [disabled]="true" required> -->
              <div type="text" class="in-2" style="border: 1px solid lightgrey;"> {{milestoneDetails.metric_start_value}}</div>
              <!-- <span class="help-block" *ngIf="!goal_name.valid && goal_name.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span> -->
            </div>
            <div class="form-group"> 
              <label>Target Value:</label><br>
              <!-- <input type="text" class="in-2 form-control" formControlName="metric_target_value" required> -->
              <div type="text" class="in-2" style="border: 1px solid lightgrey;"> {{milestoneDetails.metric_target_value}}</div>
              <!-- <span class="help-block" *ngIf="!goal_name.valid && goal_name.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span> -->
            </div>

        </div>
      <div class="in-date">
        <div class="form-group">
        <label>Already Acheived Value(To Date):</label><br>
        <!-- <input type="text" class="in-2 form-control" formControlName="metric_curr_value" required> -->
        <div type="text" class="in-2" style="border: 1px solid lightgrey;"> {{milestoneDetails.metric_curr_value}}</div>
        <!-- <span class="help-block" *ngIf="!goal_start_date.valid && goal_start_date.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span> -->
        </div>
        <div class="form-group">
        <label>Enter Target Value Achieved (to date):</label><br>
        <input type="text" class="in-2 form-control" formControlName="metric_value_new" required   #targetValue>
        <div  class="form-text showError" *ngIf="showTargetFiledError">Achieved value must be less then start value && greater then target value.</div>
        <!-- <span class="help-block" *ngIf="!goal_due_date.valid && goal_due_date.touched"><i class="fas fa-exclamation-circle"></i>Please enter a valid value!!!</span> -->
        </div>
      </div>
    </div>
    <div class="in-date" *ngIf="milestoneDetails.milestone_type=='boolean'">
        <div class="form-group">
            <label>Have You Acheived This?
                <br><br>
            <input type="radio" class="" value="100" formControlName="boolean_status"> <strong class="yes-no" > Yes</strong>
            <input type="radio" class="radio-btn" value="0" formControlName="boolean_status"> <strong class="yes-no"> No</strong>
        </label>
        </div>
      </div>
      <div class="in-date" *ngIf="milestoneDetails.milestone_type=='progress'">
        <div class="form-group">
            <label>What is your progress?</label>
                <br><br>
                <mat-slider 
                #progress
                    thumbLabel
                    [displayWith]="formatLabel"
                    tickInterval="1"
                    step="1"
                    min="0"
                    max="100"
                    aria-label="units"
                    value="{{milestoneDetails.milestone_progress}}"
                    
                    color="primary"
                    (change)="updateProgress($event)" >
                </mat-slider>
                <input type="text" value="{{progress.value}}" 
                (change)="updateProgress($event)">

        </div>
      </div>
      <div class="in-date">
        <div class="form-group">
            <label>What is your progress?</label>
                <br><br>
                <input type="text" class="in-2 form-control" formControlName="checin_comment" required placeholder="Checkin Comment">

        </div>
        </div>
      </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-default" data-bs-dismiss="modal" (click)="objectiveHide()"  aria-label="Close"> Cancel </button><br> -->
      <button class="btn btn-primary" type="submit" 
      data-bs-target="#exampleModalToggle2" *ngIf="!checked" style="background-color: #0D8EBB;" data-bs-toggle="modal">Checkin</button>
      <button class="btn btn-primary" type="submit"  *ngIf="checked"
      data-bs-target="#exampleModalToggle2" style="background-color: #0D8EBB; width: 85px;" data-bs-toggle="modal">
      <mat-spinner [diameter]="23" style="margin-left: 20px;"></mat-spinner></button>
    </div>
  </form>