<div class="list-card row shadow-lg" style="margin-top: 10px; width: 1270px; margin-left: 20px;margin-bottom: 10px;">
    <div class="col-sm-9 task-details">
        <!-- <strong> goalDetails.goal_name</strong> -->
        <ul class="nav">
            <li class="nav-item col-sm-2">
                <div class="nav-link">
                    {{checkin_history.creation_date| date: "dd-MMM-YYYY" }}
                    <!-- {{ goalDetails.goal_due_date | date: "dd-MMM" }} -->
                </div>
            </li>
            <li class="nav-item col-sm-2">
                <div class="nav-link">
                    {{checkin_history.creation_date| date: "hh:mm:ss" }}
                    <!-- {{ goalDetails.goal_due_date | date: "dd-MMM" }} -->
                </div>
            </li>

            <li class="nav-item col-sm-2">
                <div class="nav-link">
                    {{checkin_history.milestone_progress_old}}
                    <!-- {{ goalDetails.goal_due_date | date: "dd-MMM" }} -->
                </div>
            </li>

            <li class="nav-item col-sm-2">
                <div class="nav-link">
                    {{checkin_history.milestone_progress_new}}
                    <!-- {{ goalDetails.goal_due_date | date: "dd-MMM" }} -->
                </div>
            </li>
            <li class="nav-item col-sm-2">
                <div class="nav-link">
                    {{checkin_history.metric_value_new}}
                    <!-- {{ goalDetails.goal_due_date | date: "dd-MMM" }} -->
                </div>
            </li>
        </ul>
    </div>
</div>