<app-nav></app-nav>
<section class="active-list">
    <div>
      <strong>Active(1)</strong>
      <app-milestone></app-milestone>
      <ul class="nav side">
        <li class="nav-item">
          <div class="modal fade show" *ngIf="show"  id="exampleModalToggle" aria-hidden="false" style="display: block !important;" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">NEW KEY RESULT: CREATE YOUR KEY RESULT</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="objectiveHide()" aria-label="Close"></button>
                  </div>
                <app-create-goal></app-create-goal>

              </div>
            </div>
            </div>
            <div class="modal fade show" style="display: block;" *ngIf="show2" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel2">ADD KEY RESULT: HOW YOU WILL DO IT</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="keyresultHide()"></button>
                </div>
                 <app-create-milestone></app-create-milestone>
              </div>
            </div>
          </div>
          

          <!--   Edit Objective   -->
          <div class="modal fade show" *ngIf="show3"  id="exampleModalToggle" aria-hidden="false" style="display: block !important;" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel">UPDATE OBJECTIVE: YOUR AREA OF FOCUS</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="objectiveHide()" aria-label="Close"></button>
                </div>
                <app-edit-goal></app-edit-goal>
              </div>
            </div>
            </div>
          <a class="btn btn-primary" data-bs-toggle="modal" (click)="objectiveShow()" style="background-color: #0D8EBB;" role="button"><img src="https://img.icons8.com/ios/25/000000/add--v2.png"/> OBJECTIVE</a>
        </li>
      </ul>
    </div>

    <!--Active Goal List-->
    <div class="list" *ngFor="let goal of goalData">
      <app-goal-list [deleteGoal]="deleteGoal"  [goalDetails]="goal"></app-goal-list>
      </div>
    
    </section>
    
    <!--      Closed Section      -->
    
    <section class="active-list">
    <div>
      <strong>Closed(1)</strong>
    </div>
    <div class="list">
      <div class="list-card row">
        <div class="col-sm-1 progress-percent">
          100%
        </div>
        <div class="col-sm-8 task-details">
          <strong>Make Performance the most prefered Solution</strong>
          <ul class="nav ">
            <li class="nav-item">
              <div class="nav-link active" aria-current="page">
                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="color: #0D8EBB; padding-top: 0px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Key Results
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            </li>
            <li class="nav-item">
              <div class="nav-link">Date:</div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Saas Product : Stronger Modules & Others</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2 options">
          <ul class="nav">
            <li class="nav-item">
              <p class="status shadow">Waiting for approval</p>
            </li>
            <li class="nav-item">
              <div class="dropdown">
            <button class="btn btn-default dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://img.icons8.com/ios-filled/20/000000/menu-2.png"/>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    </section>
    
    
    <!--    Rejected      -->
    
    <!--      Closed Section      -->
    
    <section class="active-list">
    <div>
      <strong>Rejected(1)</strong>
    </div>
    <div class="list">
      <div class="list-card row">
        <div class="col-sm-1 progress-percent">
          100%
        </div>
        <div class="col-sm-8 task-details">
          <strong>Make Performance the most prefered Solution</strong>
          <ul class="nav ">
            <li class="nav-item">
              <div class="nav-link active" aria-current="page">
                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="color: #0D8EBB; padding-top: 0px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Key Results
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            </li>
            <li class="nav-item">
              <div class="nav-link">Date:</div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Saas Product : Stronger Modules & Others</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2 options">
          <ul class="nav">
            <li class="nav-item">
              <p class="status shadow">Waiting for approval</p>
            </li>
            <li class="nav-item">
              <div class="dropdown">
            <button class="btn btn-default dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://img.icons8.com/ios-filled/20/000000/menu-2.png"/>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    </section>