<app-nav></app-nav>
<section class="active-list">
    <div>
      <strong>Active(1)</strong>
      <ul class="nav side">
        <li class="nav-item">
          <div class="modal fade show" *ngIf="show"  id="exampleModalToggle" aria-hidden="false" style="display: block !important;" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel">NEW OBJECTIVE: YOUR AREA OF FOCUS</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="objectiveHide()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div>
                    <label>Objective:</label><br>
                    <input type="text" class="in-1" name="objective">
                  </div>
                  <div class="in-date">
                    <div>
                      <label>Which period is the objectiveRunning in?*</label><br>
                      <select class="form-select in-2" aria-label="Default select example">
                    <option value="1">Q1</option>
                    <option value="2">Q2</option>
                    <option value="3">Q3</option>
                    <option value="4">Q4</option>
                  </select>
                    </div>
                    <div>
                    <label>Start Date*</label><br>
                    <input type="date" name="start" class="in-d" placeholder="Start Date">
                    </div>
                    <div>
                    <label>End Date*</label><br>
                    <input type="date" name="end" class="in-d" placeholder="End Date">
                    </div>
                  </div>
                <div class="in-date">
                  <div>
                  <label>Owner:</label><br>
                  <input type="text" class="in-2" name="objective">
                  </div>
                  <div>
                  <label>To which Company Objective This Objective Align With:</label><br>
                  <select class="form-select in-2" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
                  </div>
                </div>
                <div class="in-date">
                  <div>
                  <label>Which Type of OKR you are Creating?:</label><br>
                  <select class="form-select in-2" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
                  </div>
                </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-bs-dismiss="modal" (click)="objectiveHide()"  aria-label="Close"> Cancel </button><br>
                  <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" style="background-color: #0D8EBB;" data-bs-toggle="modal" (click)="keyresultShow()">Add Key Result</button>
                </div>
              </div>
            </div>
            </div>
            <div class="modal fade show" style="display: block;" *ngIf="show2" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalToggleLabel2">ADD KEY RESULT: HOW YOU WILL DO IT</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="keyresultHide()"></button>
                </div>
                <div class="modal-body">
                  <div>
                    <strong>Outcomes:</strong>List Down Your Key Results
                  </div>
                  <button class="btn btn-primary" style="background-color: #0D8EBB;"><img src="https://img.icons8.com/ios/25/000000/add--v2.png"/></button>
                  <div>
                    <strong>Efforts:</strong>These are the Initiatives and action plans to acheive the Key Results
                  </div>
                  <div class="in-date">
                  <div>
                    <input type="text" class="in-2" name="objective" placeholder="Write your Efforts Here">
                  </div>
                  <div>
                    <select class="form-select in-2" aria-label="Default select example">
                      <option selected>Boolean</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
                <div class="in-date">
                    <div>
                      <label>Start Date*</label><br>
                      <input type="date" name="start" class="in-d" placeholder="Start Date">
                    </div>
                    <div>
                      <label>End Date*</label><br>
                      <input type="date" name="end" class="in-d" placeholder="End Date">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" (click)="previous()">Previous</button>
                  <button class="btn btn-primary" data-bs-target="#exampleModalToggle" style="background-color: #0D8EBB;" data-bs-toggle="modal">Save And Add More</button>
                </div>
              </div>
            </div>
          </div>
          <a class="btn btn-primary" data-bs-toggle="modal" (click)="objectiveShow()" style="background-color: #0D8EBB;" role="button"><img src="https://img.icons8.com/ios/25/000000/add--v2.png"/> OBJECTIVE</a>
        </li>
      </ul>
    </div>
    <div class="list">
      <div class="list-card row">
        <div class="col-sm-1 progress-percent">
          100%
        </div>
        <div class="col-sm-8 task-details">
          <strong>Make Performance the most prefered Solution</strong>
          <ul class="nav">
            <li class="nav-item">
              <div class="nav-link active" aria-current="page">
                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="color: #0D8EBB; padding-top: 0px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Key Results
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            </li>
            <li class="nav-item">
              <div class="nav-link">Date</div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Saas Product : Stronger Modules & Others</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2 options">
          <ul class="nav">
            <li class="nav-item">
              <p class="status shadow">Waiting for approval</p>
            </li>
            <li class="nav-item">
              <div class="dropdown">
            <button class="btn btn-default dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://img.icons8.com/ios-filled/20/000000/menu-2.png"/>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    </section>
    
    <!--      Closed Section      -->
    
    <section class="active-list">
    <div>
      <strong>Closed(1)</strong>
    </div>
    <div class="list">
      <div class="list-card row">
        <div class="col-sm-1 progress-percent">
          100%
        </div>
        <div class="col-sm-8 task-details">
          <strong>Make Performance the most prefered Solution</strong>
          <ul class="nav ">
            <li class="nav-item">
              <div class="nav-link active" aria-current="page">
                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="color: #0D8EBB; padding-top: 0px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Key Results
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            </li>
            <li class="nav-item">
              <div class="nav-link">Date:</div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Saas Product : Stronger Modules & Others</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2 options">
          <ul class="nav">
            <li class="nav-item">
              <p class="status shadow">Waiting for approval</p>
            </li>
            <li class="nav-item">
              <div class="dropdown">
            <button class="btn btn-default dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://img.icons8.com/ios-filled/20/000000/menu-2.png"/>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    </section>
    
    
    <!--    Rejected      -->
    
    <!--      Closed Section      -->
    
    <section class="active-list">
    <div>
      <strong>Rejected(1)</strong>
    </div>
    <div class="list">
      <div class="list-card row">
        <div class="col-sm-1 progress-percent">
          100%
        </div>
        <div class="col-sm-8 task-details">
          <strong>Make Performance the most prefered Solution</strong>
          <ul class="nav ">
            <li class="nav-item">
              <div class="nav-link active" aria-current="page">
                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" style="color: #0D8EBB; padding-top: 0px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Key Results
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
            </li>
            <li class="nav-item">
              <div class="nav-link">Date:</div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Saas Product : Stronger Modules & Others</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2 options">
          <ul class="nav">
            <li class="nav-item">
              <p class="status shadow">Waiting for approval</p>
            </li>
            <li class="nav-item">
              <div class="dropdown">
            <button class="btn btn-default dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://img.icons8.com/ios-filled/20/000000/menu-2.png"/>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    </section>