<div class="list-card row shadow-lg" style="margin-top: 10px; width: 1270px; margin-left: 20px;">
    <div *ngIf="!checkin_history.length" class="nav-link">
        No Active Checkin History
    </div>
    <div class="col-sm-12 task-details">
        <!-- <strong> goalDetails.goal_name</strong> -->
        <ul class="nav row">
            <li class="nav-item col-sm-2">
                <div class="nav-link">
                    Checkin Date
                </div>
            </li>
            <li class="nav-item col-sm-2">
                <div class="nav-link">
                    Checkin Time
                </div>
            </li>

            <li class="nav-item col-sm-2">
                <div class="nav-link">
                     Old Progress
                </div>
            </li>

            <li class="nav-item col-sm-2">
                <div class="nav-link">
                     New Progress
                </div>
            </li>
            <li class="nav-item col-sm-2" *ngIf="milestoneDetails.milestone_type=='metric'">
                <div class="nav-link">
                    Metric Checkin Value
                    <!-- {{ goalDetails.goal_due_date | date: "dd-MMM" }} -->
                </div>
            </li>
            <li class="nav-item col-sm-2">
                <div class="nav-link">
                    Checkin Comment
                    <!-- {{ goalDetails.goal_due_date | date: "dd-MMM" }} -->
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="list" *ngFor="let history of checkin_history">
    <app-checkin-history-card [checkin_history]="history" [milestoneDetails]="milestoneDetails"></app-checkin-history-card>
</div>