<div class="list-card row shadow-lg" style="margin-top: 10px; width: 1270px; margin-left: 20px;">
    <div class="col-sm-9 task-details">
        <!-- <strong> goalDetails.goal_name</strong> -->
        <ul class="nav">
            <li class="nav-item">
                <div class="nav-link">
                    Checkin Date
                    <!-- {{ goalDetails.goal_due_date | date: "dd-MMM" }} -->
                </div>
            </li>

            <li class="nav-item">
                <div class="nav-link">
                    Checkin Old Value
                    <!-- {{ goalDetails.goal_due_date | date: "dd-MMM" }} -->
                </div>
            </li>

            <li class="nav-item">
                <div class="nav-link">
                    Checkin New Value
                    <!-- {{ goalDetails.goal_due_date | date: "dd-MMM" }} -->
                </div>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link">{{ goalDetails.linked_org_goal_name }}</a> -->
            </li>
        </ul>
    </div>
</div>
<div class="list">
    <app-checkin-history-card></app-checkin-history-card>
</div>