



     <div class="modal fade show" *ngIf="show"  id="exampleModalToggle" aria-hidden="false" style="display: block !important;" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel">NEW KEY RESULT: CREATE YOUR KEY RESULT</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="objectiveHide()" aria-label="Close"></button>
            </div>
            <app-create-milestone [goalId]="goalId" ></app-create-milestone>

        </div>
      </div>
      </div>


 
      
<button type="button" class="btn btn-primary addMilestone btn-sm d-md-block" *ngIf="refFrom=='detailsPage'"  (click)="objectiveShow()" >ADD MILESTONE</button>

<p (click)="objectiveShow()"  *ngIf="refFrom=='listPage'"  >Add milestone</p>